
<%- include("partials/header.ejs") %>

<%- include ("partials/main_nav.ejs") %> 
  <!-- Main Content -->
  <main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page </h1>
  </div>
  </main>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <p class="lead">This is my Personal Portfolio Website. I am student opf Centennial college enrolled in Software Engineering Technology (AI) Fastrack.</p>
    </div>
  </div>

  
    <!--Fixed bottom-->
<%- include ("partials/bottom_nav.ejs") %>

<%- include ("partials/footer.ejs") %>



